<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vendas" href="/tabs/vendas">
      <ion-icon aria-hidden="true" name="cart"></ion-icon>
      <ion-label>Vendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cadastros" href="/tabs/cadastros">
      <ion-icon aria-hidden="true" name="create"></ion-icon>
      <ion-label>Cadastros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consultas" href="/tabs/consultas">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relatorios" href="/tabs/relatorios">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>Relatório</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
